.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 15vw - 10rem - 15px);
  min-height: 40rem;

  .slider,
  .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide>div {
    height: 100%;
  }

  &__title {
    font-size: 3em;
    font-weight: 400;

    span {
      font-style: italic;
      font-size: inherit;
    }
  }

  &__wrapper {
    width: 68%;
    padding-left: 7.8vw;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 800px) {
      width: 80%;
      padding-left: 0;
    }

  }

  &__text {
    font-size: 1.16rem;
    height: 50%;
    width: 80%;
    overflow-y: auto;
    scrollbar-width: none;

    @media (max-width: 800px) {
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__link {
    margin-left: 6.5vw;
  }
}

.artists {
  &__title {
    width: 68%;
    padding-left: 14.4vw;
    text-align: left;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &_wrapper {
      width: 39%;

      @media (max-width: 800px) {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__card {
    width: 68% !important;
    margin: auto;
    position: relative;
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 11vw;

    @media (max-width: 800px) {
      width: 80% !important;
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 55%;
    margin-left: 3.5vw;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
  }

  &__subtitle {
    padding-bottom: 1vw;
    color: #606060;
    font-size: 1.16rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1;
  }

  &__tags {
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    width: 80%;

  }

  &__tag {
    margin-top: 1vw;
    margin-right: 1vw;
  }

  .slick-dots {
    button {
      background-color: #c4c5c1;
    }
  }
}

@media (max-width: 800px) {
  .about__title {
    font-size: 1.5rem;
  }

  .exhibitions_preview {
    .link {
      margin-top: 1.5rem;
    }

    .poster {
      z-index: 0;
    }
  }
}