.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  &__title {
    font-size: 3em;
    font-weight: 400;

    span {
      font-style: italic;
      font-size: inherit;
    }
  }

  &__wrapper {
    width: 50%;
    height: 80%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    font-size: 1.16rem;
    height: 50%;
    width: 80%;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__link {
    margin-left: 6.5vw;
  }
}

.artists {
  &__img {
    width: 39%;
    height: 39%;
  }

  &__card {
    width: 40rem !important;
    margin: auto;
    position: relative;
    display: flex !important;
    justify-content: space-between;
    left: 8.5vw;
    margin-bottom: 11vw;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 55%;
  }

  &__name {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
  }

  &__subtitle {
    padding-bottom: 1vw;
    color: #606060;
    font-size: 1.16rem;
  }

  &__text {
    font-size: 1rem;
    line-height: 1;
  }

  &__tags {
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    &:nth-child(2) {
      margin-left: 1vw;
      margin-right: 8vw;
    }

    &:nth-child(3) {
      margin-top: 1vw;
    }
  }

  .slick-dots {
    button {
      background-color: #c4c5c1;
    }
  }
}
