.artist {
  &__num {
    font-family: 'Neris Light', arial;
    padding: 0.7vw 1.4vw;
    top: 2.5vw;
    bottom: auto;

    &::after,
    &::before {
      width: 34vw;
    }

    &::before {
      left: -34vw;
    }

    &::after {
      right: -34vw;
    }
  }

  &__general {
    margin: 5vw 0;
    display: flex;
    align-items: flex-start;
  }

  &__photo {
    width: 36%;
    margin-left: -15%;
    margin-right: 3vw;

    @media (max-width: 800px) {
      width: 28%;
      margin-left: -3%;
      margin-right: 2.5vw;
    }
  }

  &__name {
    font-family: 'Playfair Display Black', serif;
    font-size: 5.25em;
    margin-top: -2.4vw;

    @media (max-width: 800px) {
      font-size: 6em;
    }
  }

  &__style {
    color: #606060;
    padding-bottom: 1.2vw;

    span {
      font-size: 1.17rem;
    }
  }

  &__subtitle {
    font-size: 1.5rem;

    @media (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
}

.gallery {
  &__preview {
    margin-top: -3em;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
      margin: 2em 0 3em;
    }
  }

  &__years {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &_wrapper {
      padding: 0.7vw 2vw;
      background-color: #282828;
      overflow: hidden;
    }

    * {
      transition: 0.3s linear;
    }

    input {
      display: none;

      &:checked+label {
        border-color: #ff0000;

        span {
          background-color: #ff0000;
        }
      }
    }
  }

  &__btn {
    font-family: 'Neris SemiBold', arial;
    font-size: 1rem;
    border: 0.3vw solid transparent;
    color: #f1eff0;
    cursor: pointer;
    padding: 0.1vw 0.6vw 0.3vw 0.6vw;
    line-height: 1;
    transition: 0.3s linear;
    position: relative;
    display: block;

    span {
      position: absolute;
      display: block;
    }

    .rectangle {
      width: 0.3vw;
      height: 1vw;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1.3vw;
    }

    .circle {
      width: 0.9vw;
      height: 0.9vw;
      border-radius: 50%;
      bottom: -0.28vw;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    display: none;

    &_show {
      display: block;
    }
  }

  &__filter {
    background-color: #282828;
    text-align: center;
    padding: 1.8vw 0 0.8vw 0;
    margin-top: 0.29vw;

    * {
      font-size: 0.667rem;
      color: #f3f1f2;
      font-family: 'Neris SemiBold', arial;
      letter-spacing: 0.1vw;
    }

    &_wrapper {
      display: flex;
      width: 50%;
      margin: auto;
      justify-content: center;
      padding-top: 0.3vw;
    }

    &_category {
      margin: 2vw;
      flex: 1;

      label {
        border-color: #bbb8b8;
        padding: 0.8vw 0;
      }

      input {
        display: none;

        &:checked+label {
          border-color: #ff0000;
        }
      }
    }
  }

  &__pagination {
    background-color: #050708;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1vw 0;

    &_num {
      font-family: 'Neris SemiBold', arial;
      font-size: 1.167rem;
      margin: 0 0.7vw;
    }

    &_arrow {
      width: 1vw;
      height: 3vw;
      position: relative;
      top: 0.1vw;
      margin: 0 2vw;
      cursor: pointer;
    }

    &_next {
      transform: rotate(180deg);
    }
  }
}

.projects {
  &__slider {
    margin-bottom: -4.5vw;
  }

  &__title {
    color: #fff;
    background-color: #282828;
    margin-bottom: 0.1vw;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .slick-dots {
    bottom: 6.5vw;
  }

  &__capture {
    height: 27rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;

    &_place {
      font-family: 'Playfair Display Italic', serif;
      padding-bottom: 0.833rem;
      font-size: 1.2em;
    }

    &_info {
      font-family: 'Playfair Display Italic', serif;
      width: 100%;
      font-size: 0.833rem;
    }

    &_name {
      font-family: 'Neris SemiBold', arial;
      font-size: 4.2em;
      margin-bottom: 1.5vw;
    }
  }

  &__scroll {
    height: 80%;
    width: 60%;
    font-size: 1rem;
    line-height: 1.5;
  }

  .mCSB_scrollTools {
    left: 1vw;
  }

  .media {
    margin: 7vw 0;
  }
}

@media (max-width: 800px) {
  .projects__capture_place {
    font-size: 0.833rem;
  }

  .paper__anchor {
    margin-top: 2.1vw;
  }

  .projects {
    &__capture {
      display: block;
      height: 60vw;
    }

    &__scroll {
      width: 100%;
      height: 60%;
      margin: 1.5rem 0;
    }
  }
}

@media (max-width: 600px) {
  .projects {
    &__capture {
      display: block;
      height: 65vw;
    }

    &__scroll {
      margin: 1rem 0;
    }
  }
}

@media (max-width: 420px) {
  .gallery {
    &__filter_category label {
      width: 20vw;
    }

    &__years {
      padding: 0.7vw 1vw;
    }

    &__slider_description {
      width: 100% !important;
    }

    &__btn {
      font-size: 0.833rem;
    }
  }

  .projects {
    &__capture {
      height: 80vw;
    }

    &__scroll {
      margin: 15px 0;
    }
  }
}