.news-and-events {
  .paper {
    padding: 3vw 7vw;
  }

  &__date {
    p {
      margin-left: -2vw;
      color: #8a8a8a;
      font-weight: 600;
      font-size: 0.83rem;
      font-family: "Neris SemiBold", arial;
    }
  }

  &__banner {
    position: relative;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    font-size: 4em;

    * {
      padding: 0 1vw;
      background-color: #fff;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        transform: translateX(100%);
        height: 100%;
        width: 0.5vw;
        background-color: #ff0000;
      }

      &:first-child {
        &::after {
          width: 0.4vw;
        }
      }

      &:nth-child(3),
      &:last-child {
        font-weight: 900;
      }
    }
  }
}

.event {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 2.95vw auto 8.63vw;
  position: relative;

  &__info {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 2.3vw 3vw 2vw 3.7vw;
    color: #fff;
    width: 66%;

    &_wrapper {
      width: 72%;
    }

    &_art {
      background-image: url("../images/news_and_events/henry_ford.png");
    }

    &_poetry {
      background-image: url("../images/news_and_events/poetry.png");
      flex-direction: column;
    }
  }

  &__title {
    font-size: 4em;

    &:nth-of-type(2) {
      font-weight: 900;
    }
  }

  &__text {
    font-size: 1.3em;
    padding-top: 1vw;
  }

  &__link {
    &_bottom {
      margin-top: auto;
      padding-bottom: 0.5vw;
    }

    &_aside {
      position: absolute;
      left: -4vw;
      top: 6vw;
    }
  }

  &__photo {
    width: 31%;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_reverse {
    flex-direction: row-reverse;
    margin: 8.63vw auto 5vw;

    .event__text {
      width: 72%;
    }
  }
}

.burning-man {
  display: flex;
  justify-content: space-between;
  background-color: #f1f0f0;

  &__pictures {
    position: relative;
  }

  &__david {
    position: absolute;
    width: 38vw;
    left: 4.17vw;
    bottom: 0;
    max-height: 120%;
    object-fit: contain;
  }

  &__info {
    width: 50%;
    padding: 6vw 11vw 6.5vw 2.17vw;

    h2 {
      font-size: 4em;

      &:nth-of-type(2) {
        font-weight: 900;
      }
    }
  }

  &__text {
    font-size: 1rem;
    padding-top: 0.5vw;
  }

  &__btn {
    padding-top: 2.63vw;
  }
}

@media (max-width: 1440px) {
  .burning-man__info {
    padding: 4vw 9vw 5vw 2vw;
  }
}

@media (max-width: 800px) {
  .burning-man__text {
    font-size: 0.833rem;
    height: 30vw;
    overflow: hidden;
  }
}

@media (max-width: 420px) {
  .burning-man {
    &__david {
      width: 59vw;
      left: -10vw;
    }

    &__info {
      padding: 4vw 2vw 5vw 2vw;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 8em;
        text-align: right;

        &:nth-of-type(2) {
          position: relative;
          left: -35px;
          width: 120%;
        }
      }
    }

    &__btn {
      align-self: flex-end;
    }
  }

  .event {
    width: 100%;
    margin: 5vw 0;

    &__title {
      font-size: 8em;
    }

    &__photo {
      display: none;
    }

    &__info {
      width: 100%;
      padding: 5vw 10vw;
    }

    &__text {
      font-size: 1rem;
    }

    &_reverse .event__text {
      width: 72%;
    }

    &__link_aside {
      top: auto;
      left: auto;
      right: 10vw;
      bottom: 5vw;
    }
  }
}
