.work_card {
  padding: 3vw 1.5vw;

  &__preview {
    width: 100%;
    display: block;
  }

  &__info {
    background-color: #f1f0f0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4vw;
    position: relative;
  }

  &__date {
    font-family: "Neris SemiBold", arial;
    padding: 1vw 0;
    font-size: 0.83rem;
  }

  &__name {
    letter-spacing: 2px;
    font-size: 1.16rem;
  }

  &__link {
    position: absolute;
    bottom: -1.3vw;
    left: 50%;
    transform: translateX(-50%);
  }
}
