.credentials {
  text-align: center;
  padding: 3.5vw 0 3vw 0;

  &__logo {
    width: 100%;
    max-width: 15em;

    .contacts & {
      display: none;
    }
  }

  &__text {
    font-family: "Playfair Display Italic", serif;
    font-size: 2.3rem;
    padding: 2.5vw 0 2.5vw 0;
  }

  &__wrapper {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    margin: auto;

    @media (max-width: 800px) {
      flex-direction: column;
      width: 15rem;
    }

    .contacts & {
      flex-direction: column;
      width: 15rem;
    }
  }

  &__link_wr {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media (max-width: 800px) {
      margin: 0.7rem 0;
    }

    .contacts & {
      margin: 0.7rem 0;
    }

    svg {
      margin-right: 0.5vw;
      vertical-align: middle;
      margin-bottom: 0.2em;
    }

    a {
      font-family: "Neris Light", arial;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 2px;
    }
  }
}

@media (max-width: 800px) {
  .credentials {
    &__text {
      font-size: 1.5rem;
    }

    &__link_wr {
      a {
        font-size: 0.7rem;
      }
    }
  }
}

.contacts {
  padding-bottom: 2rem;
}
