.form {
  &__container {
    width: 100%;
    max-width: 30em;
    margin: 0 auto;
    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 1.7em;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    border-width: 0.5vw;
    line-height: 1;
    display: inline-block;
    padding: 0.5em 0 0.6em 0;
    width: 100%;
    border: 0.3vw solid black;

    &_wrapper {
      background-color: #f4f4f4;
      padding-top: 5vw;
    }
  }

  &__text {
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.4em;
    padding: 1vw 0 0.8vw 0;
  }

  &__wrapper {
    background-color: #6f6f6f;
    position: relative;
    font-family: "Neris SemiBold", arial;
  }

  &__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    input {
      width: 48%;
      text-align: center;
      background-color: #6f6f6f;
      padding: 0.5em 0 0.6em 0;
      margin-top: 0.5em;
      font-size: 1.16rem;

      &:focus {
        outline: none;

        &::placeholder {
          color: rgba(0, 0, 0, 0.3);
        }
      }

      &::placeholder {
        color: #000;
        font-size: 1.16rem;
      }
    }
  }

  &__btn.link {
    border: none;
    padding: 0.7em 0 0.8em 0;
    cursor: pointer;
    letter-spacing: 1px;
    width: 100%;
    display: block;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__police {
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding-top: 0.8vw;
    padding-bottom: 1vw;
    letter-spacing: 1px;
    display: block;

    @media (hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__img {
    position: absolute;
    bottom: -1vw;
    height: 20em;

    &_man {
      left: -8.3em;
    }

    &_lady {
      right: -8.3em;
    }
  }

  &__info {
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 1rem;
    text-transform: uppercase;

    p {
      font-size: 11px;
      font-family: "Neris SemiBold", arial;
      color: #6f6f6f;

      @media (max-width: 576px) {
        font-size: 9px;
      }

      &:not(:last-child) {
        padding-bottom: 0.7vw;
      }
    }
  }
}

@media (max-width: 800px) {
  .form {
    &__container {
      max-width: 64em;
    }

    &__title {
      font-size: 4.7em;
      padding: 0.2em;
      border-width: 1px;
    }

    &__text {
      font-size: 3.4em;
      white-space: nowrap;
    }

    &__img {
      height: 32em;

      &_lady {
        right: -13.3em;
      }

      &_man {
        left: -12.3em;
      }
    }
  }
}