* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-size: 1.5vw;
}

html {
  // font-size: 38.5px;
  overflow-y: scroll;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
}

main,
section {
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

.link {
  background-color: #dd000a;
  padding: 0.6vw 1.2vw;
  color: #fff;
  font-family: "Neris SemiBold", arial;
  font-size: 1.1vw;
}

.title {
  text-align: center;
  font-size: 5.5vw;
  letter-spacing: 0.4vw;
  padding: 3vw 0;
}

.tag {
  border: 0.3vw solid black;
  padding: 0.2vw 1vw;
  font-family: "Neris SemiBold", arial;
  font-weight: 600;
  padding-top: 0.25vw;
}

.paper {
  width: 80%;
  margin: auto;
  background-color: #f1f0f0;
  padding: 7vw;
  position: relative;
  z-index: 1;

  &__text {
    font-size: 1.3vw;

    &:not(:last-child) {
      padding-bottom: 1.8vw;
    }
  }
}

.first-letter:first-letter {
  text-transform: lowercase;
  font-size: 5vw;
  font-style: italic;
  line-height: 0.7;
  color: #ff0000;
  margin-right: -0.8vw;
  margin-left: -0.9vw;
}
