.header {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: -5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-image: url("../images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2vw;

  &__logo {
    width: 10vw;
    height: 10vw;
    display: block;
    margin: auto;
    margin-bottom: 2vw;
  }
}

.footer {
  width: 100%;
  position: relative;
  font-size: 1rem;

  &__background {
    width: 100%;
    display: block;
  }

  &__nav {
    width: 45rem;
    position: absolute;
    top: 9vw;
    left: 50%;
    transform: translateX(-50%);

    &-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }
  }

  &__link {
    color: #fff;
    font-family: "Neris Light", arial;
    opacity: 0.6;
    letter-spacing: 2px;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    color: #fff;
    opacity: 0.6;
    text-align: center;
    padding-top: 3vw;
  }
}
