.header {
  width: 100%;
  position: relative;
  z-index: 9;
  margin-bottom: -5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-image: url('../images/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__svg {
    width: 1.5vw;
    height: 1.5vw;
  }

  &__logo {
    display: block;
    width: 17vw;
    height: 17vw;
    margin: auto;
    margin-bottom: 1vw;

    position: relative;
    left: -11vw;

    @media (max-width: 800px) {
      left: 0;
    }
  }

  &__triangle {
    width: 70%;
    padding-top: 4vw;
    padding-bottom: 6vw;
    margin-bottom: 2vw;

    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 35% 100%, 0 40%);

    @media (max-width: 800px) {
      width: 100%;
      padding-top: 0vw;
      padding-bottom: 0;
      margin-bottom: 0vw;

      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.footer {
  width: 100%;
  position: relative;
  font-size: 1rem;

  &__background {
    width: 100%;
    display: block;
    object-fit: cover;
    min-height: 15rem;
  }

  &__nav {
    width: 45rem;
    position: absolute;
    top: 9vw;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 800px) {
      top: 1.5rem;
    }

    &-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      @media (max-width: 800px) {
        flex-direction: column;
        width: 10em;
        margin: 0 auto;
      }
    }
  }

  &__item {
    margin: 0.5em 0;
  }

  &__link {
    color: #fff;
    font-family: 'Neris Light', arial;
    opacity: 0.6;
    letter-spacing: 2px;
    white-space: nowrap;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    color: #fff;
    opacity: 0.6;
    text-align: center;
    padding-top: 3vw;
  }
}

.burger {
  display: none;

  &__logo,
  &__credentials-text,
  &__credentials-link-wr {
    display: none;
  }
}

.nav__item-news {
  display: none;
}

@media (max-width: 800px) {
  body {
    &._lock {
      overflow: hidden;
    }

    .header {
      flex-direction: row;
    }
  }

  .header {
    display: flex;
    align-items: center;
    background-image: none;
    padding: 1.66vw 10% 0.77vw;
    margin-bottom: 0;

    &__logo {
      width: 24.16vw;
      height: 24.72vw;
    }
  }

  .burger {
    z-index: 5;
    display: block;
    position: absolute;
    width: 9vw;
    height: 5.83vw;
    cursor: pointer;

    &__logo,
    &__credentials-text,
    &__credentials-link-wr {
      display: block;
      align-self: center;
    }

    &__logo {
      height: 47.68vw;
      padding: 6.85vw 0 7.4vw;
    }

    &__img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    &__credentials-text {
      font-size: 3.33vw;
      text-align: center;
      padding: 9.62vw 0 3.24vw;
    }

    &__credentials-link-wr {
      display: flex;
      align-items: center;
      padding-bottom: 3vw;

      svg {
        width: 5vw;
        height: 5vw;
      }

      a {
        font-size: 3.29vw;
      }
    }

    span,
    &::before,
    &::after {
      right: 0;
      position: absolute;
      height: 0.97vw;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #000;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }

    &._active {
      right: 5vw;

      span {
        transform: scale(0) translate(0, -50%);
      }

      &::before {
        top: 50%;
        transform: rotate(-90deg);
      }

      &::after {
        bottom: 44%;
        transform: rotate(0deg) translate(0, 50%);
      }
    }
  }

  .footer {
    font-size: 0.7rem;

    &__nav {
      width: 85%;
    }
  }
}
