.media {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    font-size: 1vw;
    margin: 0 0.5vw;
    position: relative;
    cursor: pointer;
  }

  &__copytext {
    opacity: 0;
    height: 0px;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: -1;
  }

  &__hint {
    position: absolute;
    right: 25vw;
    font-size: 1vw;
    background: #333333;
    color: #fff;
    border-radius: 1.5em;
    height: 0;
    width: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: opacity 0.5s;

    &_show {
      height: 2vw;
      width: auto;
      padding: 0.5em 1em;
      padding: 0 1em 0.2em;
      opacity: 1;
    }
  }
}

.paper .media__hint {
  right: 15vw;
}
