.media {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    font-size: 0.83rem;
    margin: 0 0.5vw;
    position: relative;
    cursor: pointer;
  }

  &__copytext {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: -1;
  }

  &__hint {
    position: absolute;
    font-weight: normal;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.83rem;
    padding: 0.5vw 0.9vw;
    background: #333333;
    color: #fff;
    border-radius: 1.5em;
    width: fit-content;
    opacity: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: opacity 0.5s;

    &_show {
      opacity: 1;
    }
  }

  .copy {
    position: relative;
  }
}

.paper .media__hint {
  right: 15vw;
}

@media (max-width: 800px) {
  .media {
    justify-content: space-between;
  }
}
