.nav {
  width: 52rem;
  display: flex;
  padding-bottom: 15px;
  margin: auto;
  z-index: 2;
  position: relative;

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.16rem;
  }

  &__item {
    border-right: 1px solid black;
  }

  &__link {
    color: black;
    white-space: nowrap;
    padding: 10px 1.5vw;
    width: 100%;
    display: inline-block;
  }

  li:last-of-type {
    border: none;
  }
}

@media (max-width: 800px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease 0s;
    padding-bottom: 0;

    li:last-of-type {
      border: 0.1px solid rgb(78, 6, 6);
    }

    &._active {
      left: 0;

      .paper {
        z-index: 0;
      }
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 10.18vw 0;
      box-shadow: 0 0 5px 5px rgb(233, 231, 231);
      margin-right: 20.27vw;
    }

    &__item {
      margin: 0 0 3.42vw 0;
      border: 0.1px solid rgb(78, 6, 6);
      width: 100%;
      text-align: center;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:active {
        background-color: #dd000a;

        >a {
          color: #fff;
        }
      }

      &-news-and-events {
        display: none;
      }

      &-news {
        display: block;
      }
    }

    &__link {
      font-size: 1.3rem;
      font-family: "Neris Light", arial;
    }
  }
}