.nav {
  width: 52rem;
  display: flex;
  padding-bottom: 15px;
  margin: auto;

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    font-size: 1.16rem;
  }

  &__item {
    padding: 10px 1.5vw;

    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }

  &__link {
    color: black;
    white-space: nowrap;
  }
}