.poster {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;

  &:not(:last-child) {
    margin-bottom: 6vw;
  }

  &__description {
    width: 53%;
    padding: 5vw 0 0 5vw;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__tags {
    width: 110%;
    margin-left: -1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__tag {
    font-size: 2em;
    font-family: "Playfair Display", serif;
  }

  &__info {
    font-size: 2.3em;

    span {
      font-style: italic;
      font-size: inherit;
    }
  }

  &__title {
    font-size: 4em;
    padding: 1.7vw 0;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.25;
  }

  &__img {
    width: 37%;
    height: 37%;
    display: block;

    &_mobile {
      display: none;
    }
  }

  &_left {
    flex-direction: row-reverse;

    .poster {
      &__description {
        padding-left: 0;
        padding-right: 5.5vw;
      }

      &__tags {
        margin-left: -1.5vw;
      }
    }
  }

  &_big {
    width: 100%;

    &.poster {
      margin-bottom: 0;
    }

    .poster__description {
      padding-left: 19vw;
    }
  }
}

@media (max-width: 1440px) {
  .poster__description {
    padding: 3vw 0 0 5vw;
  }
}

@media (max-width: 1440px) {
  .poster__description {
    padding: 3vw 0 0 5vw;
  }
}

@media (max-width: 900px) {
  .poster {
    &__description {
      width: auto;
      padding: 2vw 0 0 5vw;
    }

    &__img {
      margin-left: 3rem;
    }

    &__title {
      padding: 0.5rem 0;
    }
  }
}

@media (max-width: 800px) {
  .poster {
    flex-direction: column-reverse;
    width: 80%;
    padding-bottom: 30px;

    &_big {
      .poster__description {
        padding: 0;
      }

      &.poster {
        border-bottom-right-radius: 95px;
        margin-bottom: -95px;
      }
    }

    &__description {
      width: 90%;
      margin: 0 auto;
      margin-top: -16vw;
      z-index: 1;
    }

    &__img {
      display: none;

      &_mobile {
        display: block;
      }
    }

    &__tags {
      margin: 0;
      flex-direction: column;
      width: 100%;
      align-items: start;
    }

    &__tag {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      width: 150px;
      padding: 1vw 0;
      background-color: #fff;
    }

    &__info {
      font-size: 1rem;
      font-style: normal;
      border: 1px solid black;
      width: 150px;
      text-align: center;
      padding: 1vw 0;
      background-color: #fff;

      span {
        font-style: normal;
      }
    }
  }

  .mobile {
    display: none;
  }
}
