.quote {
  color: #ff0000;
  font-style: italic;
  position: relative;
  padding: 8vw 0;
  margin-bottom: 3vw;

  &__beginning {
    font-size: 10em;
    letter-spacing: -0.6vw;
    position: absolute;
    top: 0;

    &::before,
    &::after {
      content: "";
      display: block;
      border-bottom: 0.17vw solid black;
      position: absolute;
      top: 4.8vw;
    }

    &_center {
      left: 49%;
      transform: translateX(-65%);

      &::after,
      &::before {
        width: 27vw;
      }

      &::before {
        left: -27vw;
      }

      &::after {
        right: -29vw;
      }
    }

    &_right {
      right: 8vw;

      &::before {
        width: calc(60vw - 2px);
        right: 100%;
      }
    }
  }

  &__text {
    font-size: 2rem;
    margin-right: 10vw;
    letter-spacing: 0.1vw;

    &_center {
      width: 30rem;

      text-align: center;
      margin: auto;
    }
  }

  &__author {
    color: #fff;
    display: block;
    background-color: #000;
    padding: 0.6vw 1vw;
    position: absolute;
    bottom: 2.5vw;
    font-size: 1.16rem;

    &::before,
    &::after {
      content: "";
      display: block;
      border-bottom: 0.15vw solid black;
      position: absolute;
      top: 50%;
    }

    &_center {
      left: 50%;
      transform: translateX(-50%);

      &::before,
      &::after {
        width: 22vw;
      }

      &::before {
        left: -22vw;
      }

      &::after {
        right: -22vw;
      }
    }

    &_left {
      left: 6vw;

      &::after {
        width: calc(40vw - 2px);
        left: 100%;
      }
    }
  }

  &__img {
    width: 25vw;
    position: absolute;
    right: -14vw;
    bottom: 3.3vw;
    z-index: 1;
  }
}

@media (max-width: 800px) {
  .quote {
    &__text {
      font-size: 1.5rem;

      &_center {
        width: 66vw;
        padding: 3vw 0;
      }
    }

    &__beginning_center::after,
    &__beginning_center::before {
      width: 31.5vw;
    }

    &__beginning {
      font-size: 13em;

      &_center {
        &::after {
          right: -34vw;
        }

        &::before {
          left: -31.5vw;
        }
      }

      &::after, &::before {
        top: 5.8vw;
      }
    }

    &__author {
      font-size: 0.9rem;

      &_center::before,
      &_center::after {
        width: 26vw;
      }

      &_center::after {
        right: -26vw;
      }

      &_center::before {
        left: -26vw;
      }
    }
  }
}
